.style {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: -3px;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.style:hover {
    background: #1d49aa;
  }

.button {
    display: inline-block;
}
  
.style:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

.points {
  font-size: 18px;
  background-color: #626694;
  color: #fff;
  border-collapse: collapse;
}

.points td {
  padding: 10px;
  border: 1px solid #fff;
}

.points td[colspan="2"] {
  font-weight: bold;
  text-align: center;
  background-color: #3d9fc5;
}

